header {
  height: 100px;
  background-color: #413a34;
  padding-top: 40px;
}

#title {
  color: #fdfefd;
  margin: 0;
  text-align: center;
  font-size: 50px;
}


h1 {
  color:#413a34;
}

.wrapper {
  width: 500px;
  margin: auto;
  text-align: left;
}

ul, li{
  list-style: none;
}

li:before {
  content: '\f0f4';
  font-family: 'FontAwesome';
    float: left;
  margin-left: -1.5em;
  color: #8B4513;
}

/*.wrapper1 {
  font-size: 24px;
  background-color: green;
  text-align: center;
}*/

footer {
  font-size: 18px;
  background-color: #413a34;
  color: #fefdfc;
  text-align: center;
}
/*#wrap1{
background-color: red;
}*/
